.timeContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.timeContainer h2 {
  margin: 0 0 5px 0;
}

.airPortCodeAndName {
  display: flex;
}

.airPortCodeAndName span {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.dateTimeBlock {
  display: flex;
}

.dateTimeBlock span {
  font-size: 10px;
  font-weight: 400;
}
